<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>List API | Group 4</title>
  </head>
  <body>
    <h1>Hello, world!</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">API Name</th>
          <th scope="col">API Action</th>
          <th scope="col">API URL</th>
          <th scope="col">JSON Body</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Register</td>
          <td>POST</td>
          <td>http://localhost:3000/user/register</td>
          <td>
            { <br>
              "name": "Reyhan Priyananda", <br>
              "username": "reyhanpriyananda", <br>
              "email": "reyhanp@gmail.com", <br>
              "password": "987654321", <br>
              "role": "customer" <br>
            }
        </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Login</td>
          <td>POST</td>
          <td>http://localhost:3000/user/login</td>
          <td>
            { <br>
                "name": "Reyhan Priyananda", <br>
                "username": "reyhanpriyananda" <br>
            }
        </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Update User</td>
          <td>PUT</td>
          <td>http://localhost:3000/user/update/:id</td>
          <td>
            { <br>
                "name": "Reyhan Priyananda", <br>
                "username": "reyhanpriyananda", <br>
                "email": "reyhanpriyananda@gmail.com", <br>
                "password": "$2a$10$u1DZcM3FSZKejWvfE3rZTegBpaLK9LOQCjJhK28P/iCF4ZJ9EgA2G", <br>
                "role": "customer", <br>
                "updatedAt": "2019-07-19T12:21:39.155Z", <br>
                "createdAt": "2019-07-19T12:21:39.155Z" <br>
            }
        </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Get All Book</td>
          <td>GET</td>
          <td>http://localhost:3000/book/</td>
          <td>{ <br>
            "message": "OK", <br>
            "book": [ <br>
                { <br>
                    "id": 1, <br>
                    "book_title": "3 in 1: Javascript, jQuery, dan jQuery Mobile", <br>
                    "author": "Edy Winarno ST, M.Eng Ali Zaki SmitDev Community", <br>
                    "publisher": "Elex Media Komputindo", <br>
                    "num_pages": "100", <br>
                    "picture": "3 in 1 - Javascript, jQuery, dan jQuery Mobile.jpg", <br>
                    "price": 36300, <br>
                    "description": "JavaScript adalah bahasa scripting client side yang sangat populer. Hampir semua programmer web menggunakan JavaScript untuk memberi efek pemrograman di halaman web. JavaScript tidak berdiri sendiri, tetapi juga menjadi dasar yang bisa digunakan untuk tek", <br>
                    "release_date": "2014-02-24T00:00:00.000Z", <br>
                    "createdAt": "2019-07-19T10:55:17.000Z", <br>
                    "updatedAt": "2019-07-19T10:55:17.000Z", <br>
                    "categoryId": null <br>
                }, <br>
                { <br>
                    "id": 2, <br>
                    "book_title": "Sebuah Seni Untuk Bersikap Bodo Amat", <br>
                    "author": "Mark Manson", <br>
                    "publisher": "HarperOne", <br>
                    "num_pages": "244", <br>
                    "picture": "Sebuah Seni Untuk Bersikap Bodo Amat.jpg", <br>
                    "price": 150000, <br>
                    "description": "Sebuah Seni untuk Bersikap Bodo Amat atau The Subtle Art of Not Giving a F*ck: A Counterintuitive Approach to Living a Good Life adalah buku kedua karya blogger dan penulis Mark Manson.", <br>
                    "release_date": "2016-09-13T00:00:00.000Z", <br>
                    "createdAt": "2019-07-19T10:58:12.000Z", <br>
                    "updatedAt": "2019-07-19T10:58:12.000Z", <br>
                    "categoryId": null <br>
                },</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Get Book Detail</td>
          <td>GET</td>
          <td>http://localhost:3000/book/detail/1</td>
          <td>{ <br>
            "id": 1, <br>
            "book_title": "3 in 1: Javascript, jQuery, dan jQuery Mobile", <br>
            "author": "Edy Winarno ST, M.Eng Ali Zaki SmitDev Community", <br>
            "publisher": "Elex Media Komputindo", <br>
            "num_pages": "100", <br>
            "picture": "3 in 1 - Javascript, jQuery, dan jQuery Mobile.jpg", <br>
            "price": 36300, <br>
            "description": "JavaScript adalah bahasa scripting client side yang sangat populer. Hampir semua programmer web menggunakan JavaScript untuk memberi efek pemrograman di halaman web. JavaScript tidak berdiri sendiri, tetapi juga menjadi dasar yang bisa digunakan untuk tek", <br>
            "release_date": "2014-02-24T00:00:00.000Z", <br>
            "createdAt": "2019-07-19T10:55:17.000Z", <br>
            "updatedAt": "2019-07-19T10:55:17.000Z", <br>
            "categoryId": null <br>
        }</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Create Book</td>
          <td>POST</td>
          <td>http://localhost:3000/book/create</td>
          <td>{ <br>
            "book_title": "3 in 1: Javascript, jQuery, dan jQuery Mobile", <br>
            "author": "Edy Winarno ST, M.Eng Ali Zaki SmitDev Community", <br>
            "publisher": "Elex Media Komputindo", <br>
            "num_pages": "100", <br>
            "picture": "3 in 1 - Javascript, jQuery, dan jQuery Mobile.jpg", <br>
            "price": "36300", <br>
            "description": "JavaScript adalah bahasa scripting client side yang sangat populer. Hampir semua programmer web menggunakan JavaScript untuk memberi efek pemrograman di halaman web. JavaScript tidak berdiri sendiri, tetapi juga menjadi dasar yang bisa digunakan untuk teknologi lainnya seperti Ajax, jQuery, dan jQuery Mobile. Buku ini menjelaskan bagaimana membuat aplikasi website yang atraktif dengan JavaScript, jQuery, dan jQuery Mobile untuk antarmuka web, device, dan perangkat mobile.", <br>
            "release_date": "2014-02-24", <br>
            "categoryId": "1" <br>
          }</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Update Book</td>
          <td>PUT</td>
          <td>http://localhost:3000/book/1</td>
          <td>{ <br>
            "book_title": "3 in 1: Javascript, jQuery, dan jQuery Mobile", <br>
            "author": "Edy Winarno ST, M.Eng Ali Zaki SmitDev Community", <br>
            "publisher": "Elex Media Komputindo", <br>
            "num_pages": "100", <br>
            "picture": "3 in 1 - Javascript, jQuery, dan jQuery Mobile.jpg", <br>
            "price": "50300", <br>
            "description": "JavaScript adalah bahasa scripting client side yang sangat populer. Hampir semua programmer web menggunakan JavaScript untuk memberi efek pemrograman di halaman web. JavaScript tidak berdiri sendiri, tetapi juga menjadi dasar yang bisa digunakan untuk teknologi lainnya seperti Ajax, jQuery, dan jQuery Mobile. Buku ini menjelaskan bagaimana membuat aplikasi website yang atraktif dengan JavaScript, jQuery, dan jQuery Mobile untuk antarmuka web, device, dan perangkat mobile.", <br>
            "release_date": "2014-02-24", <br>
            "categoryId": "1" <br>
          }</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Delete Book</td>
          <td>DELETE</td>
          <td>http://localhost:3000/book/1</td>
          <td>{ <br>
            "book_title": "3 in 1: Javascript, jQuery, dan jQuery Mobile", <br>
            "author": "Edy Winarno ST, M.Eng Ali Zaki SmitDev Community", <br>
            "publisher": "Elex Media Komputindo", <br>
            "num_pages": "100", <br>
            "picture": "3 in 1 - Javascript, jQuery, dan jQuery Mobile.jpg", <br>
            "price": "50300", <br>
            "description": "JavaScript adalah bahasa scripting client side yang sangat populer. Hampir semua programmer web menggunakan JavaScript untuk memberi efek pemrograman di halaman web. JavaScript tidak berdiri sendiri, tetapi juga menjadi dasar yang bisa digunakan untuk teknologi lainnya seperti Ajax, jQuery, dan jQuery Mobile. Buku ini menjelaskan bagaimana membuat aplikasi website yang atraktif dengan JavaScript, jQuery, dan jQuery Mobile untuk antarmuka web, device, dan perangkat mobile.", <br>
            "release_date": "2014-02-24", <br>
            "categoryId": "1" <br>
          }</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Register</td>
          <td>POST</td>
          <td>http://localhost:3000/user/register</td>
          <td>[
            {
                "id": 2,
                "name": "Reyhan Priyananda",
                "username": "reyhanpriyananda",
                "email": "reyhanp@gmail.com",
                "password": "$2a$10$u1DZcM3FSZKejWvfE3rZTegBpaLK9LOQCjJhK28P/iCF4ZJ9EgA2G",
                "role": "customer",
                "updatedAt": "2019-07-19T12:21:39.155Z",
                "createdAt": "2019-07-19T12:21:39.155Z"
            },
            true
        ]</td>
        </tr>
      </tbody>
    </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>